@model CustomerEditViewModel

<div class="modal-dialog" id="customer-edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-title">Thêm/Sửa khách hàng</h4>
        </div>
        <div class="modal-body" id="modal-body">
            @using (Ajax.BeginForm("Edit", "Customer", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnBegin = "customerEditBegin",
                OnSuccess = "customerEditCallBack"
            }, new { id = "frmCustomerEdit" }))
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Tên khách hàng</label>
                            @Html.TextBoxFor(o => o.Customer.CustomerName, new { @class = "form-control", @id = "txtCustomerName" })
                            @Html.HiddenFor(o => o.Customer.Id, new { @id = "ObjId" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox" style="margin-top: 30px">
                            <label>@Html.CheckBoxFor(o => o.Customer.IsVIP, new { @id = "chkIsVIP" })Khách VIP</label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Điện thoại</label>
                                @Html.TextBoxFor(o => o.Customer.PhoneNo, new { @class = "form-control", @id = "txtPhoneNo" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(o => o.Customer.Email, new { @class = "form-control", @id = "txtEmail" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                @Html.TextBoxFor(o => o.Customer.Address, new { @class = "form-control", @id = "txtAddress" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quận/Huyện</label>
                                @Html.TextBoxFor(o => o.Customer.Region, new { @class = "form-control", @id = "txtRegion" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tỉnh/Thành phố</label>
                                @Html.TextBoxFor(o => o.Customer.Area, new { @class = "form-control", @id = "txtArea" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Ghi chú cho khách hàng</label>
                                @Html.TextAreaFor(o => o.Customer.Note, 3, 10, new { @class = "form-control", @id = "txtNote" })
                            </div>
                        </div>
                    </div>
            }
            <div id="modal-alert-container"></div>
        </div>
        <div class="modal-footer">
            <div class="col-md-2">
                <img src="~/Content/images/ajax-loader-3.gif" class="edit-loader" style="display: none" id="editLoading" />
            </div>
            <div class="col-md-6"></div>
            @*<div class="col-md-2">
                    <button type="button" class="btn btn-block btn-danger" id="btnDelete" style="display: none">Xóa</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-block btn-success" id="btnResetEditForm">Tạo mới</button>
                </div>*@
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-primary" id="btnSave">Lưu lại</button>
            </div>
        </div>
    </div>
</div>